h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        h5 Cód. 291501043-03
        p.mb-0 Transformar modelos básicos para el desarrollo de nuevos diseños.