include ../mixins/functions

+pageHeader('Transformación de diseños en marroquinería.', 'assets/images/header/header_media.svg')

.container

    .header-ecored

        h1 Introducción

    .row.my-5

        .col

            .embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/HBgyl2vrLxw', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
            
            br

            p La marroquinería, al ser un sector especial de la economía, necesita de un trabajo constante para poder brindar al mercado productos acordes a las tendencias actuales, y es aquí donde la empresa para ser competitiva necesita de nuevos diseños y alternativas funcionales que sean afines a las necesidades del cliente.

            p Al desarrollar un producto marroquinero es importante identificar todos los componentes que hacen parte de este, con el fin de realizar los trazos acordes al diseño para su posterior confección y obtención de productos de calidad.