//Colores base del material de formación
$brand-color-dark: #E3DAC6;

//Esto lo puede cambiar poe el color que quiera q sugiera el tema. (sE QUITA EL lighten)
$brand-color-light: lighten(#00ACC1, 15%);


$brand-color-secondary: #00ACC1;